/*
  STYLE GUIDE:
  1.Layout
  2.Header
  3.Curriculum
  4.Media Queries
*/

/* --------- 1.Layout --------- */
@font-face {
  font-family: Dogica;
  src: url("../fonts/PressStart2P.ttf");
}

html {
  scroll-behavior: smooth;
  cursor: url("../images/cursor.png"), default;
}

body {
  background-color: #000000;
  font-family: Dogica;
  color: #ffffff;
  font-size: 14px;
}

p {
  line-height: 1.4rem;
}

a {
  color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    cursor: url("../images/pointer.png"), default;
  }
}

/* --------- 2.Header --------- */

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  width: 100%;
}

figure img {
  width: 100%;
  image-rendering: pixelated;
  animation-name: logo;
  animation-duration: 1s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes logo {
  100% {
    transform: scale(1.2);
  }
}

/* --------- 3.Curriculum --------- */

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.textbox {
  border-style: solid;
  border-image-source: url("../images/textbox.png");
  border-image-repeat: repeat;
  border-image-slice: 6 6 6 6;
  border-image-width: 32px;
  border-width: 32px;
  background: url("../images/textbox-background.png") repeat repeat;
  image-rendering: pixelated;
  background-clip: content-box;
}

.border {
  border-style: solid;
  border-image-source: url("../images/border-textbox-inside.png");
  border-image-repeat: repeat;
  border-image-slice: 7 7 7 7;
  border-image-width: 32px;
  border-width: 64px;
  background: url("../images/textbox-background.png") repeat repeat;
  image-rendering: pixelated;
  background-clip: content-box;
}

.title {
  width: fit-content;
  margin-top: -44px;
  color: #4141ff;
  background-color: #000000;
}

.information {
  margin-top: 2rem;
}

.description,
.date {
  color: #b2b2b2;
  font-size: 0.8rem;
}

.personal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place {
  display: flex;
  justify-content: end;
  align-items: center;
}

.place .icon {
  margin-right: 0.2rem;
}

.place > p {
  color: #51a200;
  font-size: 0.8rem;
}

.ability-list {
  display: flex;
  justify-content: space-between;
}

.ability-list > ul:first-child {
  padding-right: 1rem;
}

.ability-list > ul:last-child {
  padding-left: 1rem;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #b2b2b2;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 50%;
}

.points {
  display: flex;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  image-rendering: pixelated;
}

/* --------- 4.Media Queries --------- */

@media (max-width: 576px) {
  body,
  p,
  span,
  .date,
  .description,
  .place p {
    font-size: 6px;
  }

  p {
    line-height: 0.8rem;
  }

  .container {
    width: 100%;
  }

  .title {
    margin-top: -22px;
  }

  .textbox {
    border-image-width: 16px;
    border-width: 16px;
  }

  .border {
    border-image-width: 16px;
    border-width: 32px;
  }

  .icon {
    width: 0.6rem;
    height: 0.6rem;
  }
}
